<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        @context.User.Identity.Name
        <form method="post" action="Home/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out NOW</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Home/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
