@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />



<AuthorizeView>
    <Authorized>
        Claimzzz
        <ul>
            @foreach (var item in context.User.Claims)
            {
            <li>
                @($"{item.Type} : {item.Value}")
            </li>
                
            }

        </ul>

        @context.
        
    </Authorized>
    <NotAuthorized>
        Not Authorized therefore no claims
    </NotAuthorized>
</AuthorizeView>
